@font-face {
    font-family: "Inter-Light";
    src: url('../fonts/Inter-Light.ttf');
}
@font-face {
    font-family: "Inter-Medium";
    src: url('../fonts/Inter-Medium.ttf');
}
@font-face {
    font-family: "Inter-Regular";
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: "Inter-Bold";
    src: url('../fonts/Inter-Bold.ttf');
}

//COLORS
$dark-bg: hsl(230, 17%, 14%);
$text-white: hsl(0, 0%, 100%);
$text-gray-blue: hsl(228, 12%, 44%);
$text-blue: hsl(228, 34%, 66%);
$card-bg: hsl(228, 28%, 20%);
$border-light-blue: hsl(208%, 92%, 53%);
$lime-green: hsl(163, 72%, 41%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $dark-bg;
}

//IMPORTS
@import './_nav';
@import './_boxes';

